  @import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Comfortaa:wght@300;400;700&family=Poppins:wght@300&family=Qwitcher+Grypen&display=swap');


:root {
    --background-color-primary:#F2E2D2;
    --background-color-secondary:rgb(253, 253, 200);
    --color-black: #000;
}

* {
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

h1 {
    text-align: center;
    margin-top: 42px;
}

.subtitulo {
    padding-left: 5rem;
    color: #cecece;
    margin-bottom: 0;
} 

body {
    margin: 0;
    padding: 0;
}

header {
    display:flex;
    justify-content: space-between;
    padding: 0 5rem;
    background-color: var(--background-color-primary);
    align-items: center;
}


.links {
    display:flex;
    gap: 50px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.links>li>a {
    font-weight: 700;
}

.links>li>a:hover {
    color:#FE9CAF;
}

.menu-button {
    display: none;
}

.logo {
    width: 100px;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

article {
    width: 33.33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}

article img {
    padding: 0 12px;
    width: 200px;
    height: 150px;
}

article h2 {
    color:#551A8B;
    margin-bottom: 0;
}

footer {
    padding: 1.5rem 5rem;
    background-color: var(--background-color-primary);
}

.footer-items {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.footer-items ul {
    padding: 0;
}

.copyright {
    background-color:  var(--color-black);
    color: white;
    text-align: center;
    margin: 0 !important;
    padding: .5rem;
}

.product-button {
    background-color:var(--background-color-secondary);
    border: 1px solid beige;
    padding: 5px 10px;
    color:  var(--color-black);

}

.price {
    font-size: 18px;
    font-weight: 300;
}

article:last-child .price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sold {
    text-decoration: line-through;
    color: tomato;
    font-size: 14px;
}


@media only screen and (max-width:750px) {
    header {
        flex-direction: column;
        padding: 0;
    }

    .menu-button {
    display: block; 
    }

    .links {
        display: none;
        list-style-type: none;
        padding-left: 0;
    }

    .links li {
        margin: 0;
        padding: 10px;
        text-align: center;
    }

    .menu-button:focus + .links {
        display: block;
    }

    .links {
        flex-direction: column;
        gap: 3px;
    }

    section {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    article {
        width: 100%;
    }

    footer{
        padding: .5rem;
    }

    .footer-items {
        flex-wrap: wrap;
        padding: 1rem;
    }

    .footer-items>li {
        width: 50%;
    }
}